.container{
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows:  600px 40px 40px;
    gap: 5px;
}

.header{
  border: 1px solid black;
  grid-column: 1 / -2;
}

 .menu{
    background-color: blue;
    border: 1px solid red;
   height: 288px;
} 

.content {
    background-color: red;
    border: 1px solid red;
    grid-column: 1 / -2;    
}

.footer {
    background-color:pink;
    border: 1px solid red;
    grid-column: 1 / -2;
}

 

